@font-face{
    src: url("DotGothic16-Regular.ttf");
}

* {
    -fx-font-family: 'DotGothic16';
}

Text {
    -fx-font-size: 20;
}

.label {
    -fx-font-size: 25;
}

.label:hover {
    -fx-text-fill: "goldenrod";
}