@font-face{
    src: url("DotGothic16-Regular.ttf");
}

* {
    -fx-font-family: 'DotGothic16';
}

.label {
    -fx-font-size: 30;
}

.button {
    -fx-font-size: 25;
}

.game-button {
    -fx-font-size: 30;
}

.save-load-button {
    -fx-font-size: 20;
}

.stats-text {
    -fx-font-size: 20;
}

.date-text {
    -fx-font-size: 25;
}

.action-text {
    -fx-font-size: 20;
}

.text-field {
    -fx-font-size: 20;
}

.hover-text:hover {
    -fx-text-fill: "goldenrod";
}